<h1>Creator:</h1>

<h2>Gilberto Méndez Sántiz - ISC</h2>

<footer>
    <p>
        <a href="https://www.facebook.com/GilbertoMendez1995">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>            
            Gil Méndez
        </a>
        
        
        
       
        
    </p>
    <p>
            <a href="https://twitter.com/Gil_Mendez7">
                <i class="fa fa-twitter" aria-hidden="true"></i>            
                Gil Méndez
            </a>
    </p>
    <p>
            <a href="#">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>            
                    gilberto.mendez.santiz@gmail.com
                </a>
    </p>
</footer>