<div id="album" *ngIf="album" style="margin-top:10px">
  <header class="album-header">
    <div class="row">
      <div class="col-md-4">
        <div *ngIf="album.images.length > 0">
          <img src="{{album.images[0].url}}" class="album-thumb">
          
        </div>
      </div>
      <div class="col-md-8">
        <h4 *ngIf="album.artists.length > 0">
          <span *ngFor="let artist of album.artists">
            {{artist.name}}
          </span>
        </h4>
        <h2>{{album.name}}</h2>
        <h5>Release date: {{album.release_date}}</h5>
        <a href="{{album.external_urls.spotify}}" class="btn btn-primary">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          View in Spotify</a>
      </div>
    </div>

  </header>
  <div class="album-tracks">
    <h2>Album tracks</h2>
    <div *ngFor="let track of album.tracks.items">
      <div class="well">
        <h5>{{track.track_number}} - {{track.name}}</h5>
        <a href="{{track.preview_url}}" target="_blank">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          Preview track</a>
      </div>
    </div>
  </div>
</div>